#### Data Quality Issues:
 - Completeness problem (most of the data are missing, especially in receipts)
 - Duplications
 - Conformity (Some data in the datasets have different formats in one column) 
 - Consistency (eg: in brands dataset, the category column has several values mean the same such as baking, bread & backery)

In [22]:
import json
with open(r"C:\Users\lenovo\Documents\Python Scripts\receipts.json",encoding='utf-8') as f:
    receipts = []
    for i in f.readlines():
        dic = json.loads(i)
        receipts.append(dic)
print(len(receipts))

1119

In [2]:
with open(r"C:\Users\lenovo\Documents\Python Scripts\brands.json",encoding='utf-8') as f:
    brands = []
    for a in f.readlines():
        dic = json.loads(a)
        brands.append(dic)
print(len(brands))

1167

In [3]:
with open(r"C:\Users\lenovo\Documents\Python Scripts\users.json",encoding='utf-8') as f:
    users = []
    for a in f.readlines():
        dic = json.loads(a)
        users.append(dic)
print(len(users))

495

In [4]:
print(receipts[0])

{'_id': {'$oid': '5ff1e1eb0a720f0523000575'}, 'bonusPointsEarned': 500, 'bonusPointsEarnedReason': 'Receipt number 2 completed, bonus point schedule DEFAULT (5cefdcacf3693e0b50e83a36)', 'createDate': {'$date': 1609687531000}, 'dateScanned': {'$date': 1609687531000}, 'finishedDate': {'$date': 1609687531000}, 'modifyDate': {'$date': 1609687536000}, 'pointsAwardedDate': {'$date': 1609687531000}, 'pointsEarned': '500.0', 'purchaseDate': {'$date': 1609632000000}, 'purchasedItemCount': 5, 'rewardsReceiptItemList': [{'barcode': '4011', 'description': 'ITEM NOT FOUND', 'finalPrice': '26.00', 'itemPrice': '26.00', 'needsFetchReview': False, 'partnerItemId': '1', 'preventTargetGapPoints': True, 'quantityPurchased': 5, 'userFlaggedBarcode': '4011', 'userFlaggedNewItem': True, 'userFlaggedPrice': '26.00', 'userFlaggedQuantity': 5}], 'rewardsReceiptStatus': 'FINISHED', 'totalSpent': '26.00', 'userId': '5ff1e1eacfcf6c399c274ae6'}

In [5]:
print(brands[0])

{'_id': {'$oid': '601ac115be37ce2ead437551'}, 'barcode': '511111019862', 'category': 'Baking', 'categoryCode': 'BAKING', 'cpg': {'$id': {'$oid': '601ac114be37ce2ead437550'}, '$ref': 'Cogs'}, 'name': 'test brand @1612366101024', 'topBrand': False}

In [6]:
print(users[0])

{'_id': {'$oid': '5ff1e194b6a9d73a3a9f1052'}, 'active': True, 'createdDate': {'$date': 1609687444800}, 'lastLogin': {'$date': 1609687537858}, 'role': 'consumer', 'signUpSource': 'Email', 'state': 'WI'}

In [7]:
import pandas as pd

good_columns = ["_id", 'bonusPointsEarned', 'bonusPointsEarnedReason', 'createDate', 'dateScanned', 'finishedDate', 'modifyDate', 'pointsAwardedDate', 'pointsEarned', 'purchaseDate', 'purchasedItemCount', 'rewardsReceiptItemList', 'rewardsReceiptStatus', 'totalSpent', 'userId']
df_receipts = pd.DataFrame(receipts, columns = good_columns)

good_columns2 = ['_id', 'barcode', 'category', 'categoryCode', 'cpg', 'name', 'topBrand']
df_brands = pd.DataFrame(brands, columns = good_columns2)

good_columns3 = ['_id', 'active', 'createdDate', 'lastLogin', 'role', 'signUpSource', 'state']
df_users = pd.DataFrame(users, columns = good_columns3)

In [8]:
print(df_users.head())

                                    _id  active               createdDate  \
0  {'$oid': '5ff1e194b6a9d73a3a9f1052'}    True  {'$date': 1609687444800}
1  {'$oid': '5ff1e194b6a9d73a3a9f1052'}    True  {'$date': 1609687444800}
2  {'$oid': '5ff1e194b6a9d73a3a9f1052'}    True  {'$date': 1609687444800}
3  {'$oid': '5ff1e1eacfcf6c399c274ae6'}    True  {'$date': 1609687530554}
4  {'$oid': '5ff1e194b6a9d73a3a9f1052'}    True  {'$date': 1609687444800}

                  lastLogin      role signUpSource state
0  {'$date': 1609687537858}  consumer        Email    WI
1  {'$date': 1609687537858}  consumer        Email    WI
2  {'$date': 1609687537858}  consumer        Email    WI
3  {'$date': 1609687530597}  consumer        Email    WI
4  {'$date': 1609687537858}  consumer        Email    WI

In [9]:
print(df_brands.head())

                                    _id       barcode        category  \
0  {'$oid': '601ac115be37ce2ead437551'}  511111019862          Baking
1  {'$oid': '601c5460be37ce2ead43755f'}  511111519928       Beverages
2  {'$oid': '601ac142be37ce2ead43755d'}  511111819905          Baking
3  {'$oid': '601ac142be37ce2ead43755a'}  511111519874          Baking
4  {'$oid': '601ac142be37ce2ead43755e'}  511111319917  Candy & Sweets

       categoryCode                                                cpg  \
0            BAKING  {'$id': {'$oid': '601ac114be37ce2ead437550'}, ...
1         BEVERAGES  {'$id': {'$oid': '5332f5fbe4b03c9a25efd0ba'}, ...
2            BAKING  {'$id': {'$oid': '601ac142be37ce2ead437559'}, ...
3            BAKING  {'$id': {'$oid': '601ac142be37ce2ead437559'}, ...
4  CANDY_AND_SWEETS  {'$id': {'$oid': '5332fa12e4b03c9a25efd1e7'}, ...

                        name topBrand
0  test brand @1612366101024    False
1                  Starbucks    False
2  test brand @1612366146176    False
3  test brand @1612366146051    False
4  test brand @1612366146827    False

In [29]:
df_brands['category'].unique()

array(['Baking', 'Beverages', 'Candy & Sweets', 'Condiments & Sauces',
       'Canned Goods & Soups', nan, 'Magazines', 'Breakfast & Cereal',
       'Beer Wine Spirits', 'Health & Wellness', 'Beauty', 'Baby',
       'Frozen', 'Grocery', 'Snacks', 'Household', 'Personal Care',
       'Dairy', 'Cleaning & Home Improvement', 'Deli',
       'Beauty & Personal Care', 'Bread & Bakery', 'Outdoor',
       'Dairy & Refrigerated'], dtype=object)

In [10]:
print(df_receipts.head())

                                    _id  bonusPointsEarned  \
0  {'$oid': '5ff1e1eb0a720f0523000575'}              500.0
1  {'$oid': '5ff1e1bb0a720f052300056b'}              150.0
2  {'$oid': '5ff1e1f10a720f052300057a'}                5.0
3  {'$oid': '5ff1e1ee0a7214ada100056f'}                5.0
4  {'$oid': '5ff1e1d20a7214ada1000561'}                5.0

                             bonusPointsEarnedReason  \
0  Receipt number 2 completed, bonus point schedu...
1  Receipt number 5 completed, bonus point schedu...
2                         All-receipts receipt bonus
3                         All-receipts receipt bonus
4                         All-receipts receipt bonus

                 createDate               dateScanned  \
0  {'$date': 1609687531000}  {'$date': 1609687531000}
1  {'$date': 1609687483000}  {'$date': 1609687483000}
2  {'$date': 1609687537000}  {'$date': 1609687537000}
3  {'$date': 1609687534000}  {'$date': 1609687534000}
4  {'$date': 1609687506000}  {'$date': 1609687506000}

               finishedDate                modifyDate  \
0  {'$date': 1609687531000}  {'$date': 1609687536000}
1  {'$date': 1609687483000}  {'$date': 1609687488000}
2                       NaN  {'$date': 1609687542000}
3  {'$date': 1609687534000}  {'$date': 1609687539000}
4  {'$date': 1609687511000}  {'$date': 1609687511000}

          pointsAwardedDate pointsEarned              purchaseDate  \
0  {'$date': 1609687531000}        500.0  {'$date': 1609632000000}
1  {'$date': 1609687483000}        150.0  {'$date': 1609601083000}
2                       NaN            5  {'$date': 1609632000000}
3  {'$date': 1609687534000}          5.0  {'$date': 1609632000000}
4  {'$date': 1609687506000}          5.0  {'$date': 1609601106000}

   purchasedItemCount                             rewardsReceiptItemList  \
0                 5.0  [{'barcode': '4011', 'description': 'ITEM NOT ...
1                 2.0  [{'barcode': '4011', 'description': 'ITEM NOT ...
2                 1.0  [{'needsFetchReview': False, 'partnerItemId': ...
3                 4.0  [{'barcode': '4011', 'description': 'ITEM NOT ...
4                 2.0  [{'barcode': '4011', 'description': 'ITEM NOT ...

  rewardsReceiptStatus totalSpent                    userId
0             FINISHED      26.00  5ff1e1eacfcf6c399c274ae6
1             FINISHED      11.00  5ff1e194b6a9d73a3a9f1052
2             REJECTED      10.00  5ff1e1f1cfcf6c399c274b0b
3             FINISHED      28.00  5ff1e1eacfcf6c399c274ae6
4             FINISHED       1.00  5ff1e194b6a9d73a3a9f1052

In [11]:
df_receipts.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1119 entries, 0 to 1118
Data columns (total 15 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   _id                      1119 non-null   object
 1   bonusPointsEarned        544 non-null    float64
 2   bonusPointsEarnedReason  544 non-null    object
 3   createDate               1119 non-null   object
 4   dateScanned              1119 non-null   object
 5   finishedDate             568 non-null    object
 6   modifyDate               1119 non-null   object
 7   pointsAwardedDate        537 non-null    object
 8   pointsEarned             609 non-null    object
 9   purchaseDate             671 non-null    object
 10  purchasedItemCount       635 non-null    float64
 11  rewardsReceiptItemList   679 non-null    object
 12  rewardsReceiptStatus     1119 non-null   object
 13  totalSpent               684 non-null    object
 14  userId                   1119 non-null   object
dtypes: float64(2), object(13)
memory usage: 131.3+ KB

In [15]:
df_receipts.describe()

       bonusPointsEarned  purchasedItemCount
count         544.000000           635.00000
mean          238.893382            14.75748
std           299.091731            61.13424
min             5.000000             0.00000
25%             5.000000             1.00000
50%            45.000000             2.00000
75%           500.000000             5.00000
max           750.000000           689.00000

In [12]:
df_brands.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1167 entries, 0 to 1166
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   _id           1167 non-null   object
 1   barcode       1167 non-null   object
 2   category      1012 non-null   object
 3   categoryCode  517 non-null    object
 4   cpg           1167 non-null   object
 5   name          1167 non-null   object
 6   topBrand      555 non-null    object
dtypes: object(7)
memory usage: 63.9+ KB

In [16]:
df_brands.describe()

,_id,barcode,category,categoryCode,cpg,name,topBrand
count,1167,1167,1012,517,1167,1167,555
unique,1167,1160,23,14,204,1156,2
top,{'$oid': '601ac115be37ce2ead437551'},511111305125,Baking,BAKING,"{'$ref': 'Cogs', '$id': {'$oid': '559c2234e4b0...",Huggies,False
freq,1,2,369,359,98,2,524

In [13]:
df_users.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 495 entries, 0 to 494
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   _id           495 non-null    object
 1   active        495 non-null    bool
 2   createdDate   495 non-null    object
 3   lastLogin     433 non-null    object
 4   role          495 non-null    object
 5   signUpSource  447 non-null    object
 6   state         439 non-null    object
dtypes: bool(1), object(6)
memory usage: 23.8+ KB

In [21]:
df_users.statistic()

AttributeError: 'DataFrame' object has no attribute 'statistic'

In [14]:
df_receipts['finishedDate']

0       {'$date': 1609687531000}
1       {'$date': 1609687483000}
2                            NaN
3       {'$date': 1609687534000}
4       {'$date': 1609687511000}
                  ...
1114                         NaN
1115                         NaN
1116                         NaN
1117                         NaN
1118                         NaN
Name: finishedDate, Length: 1119, dtype: object